<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width">


        <meta property="og:site_name" content="The Sofa Blog">
        <meta property="og:url" content="http://sofa.io{{site.baseurl}}">
        <meta property="og:image" content="http://sofa.io{{site.baseurl}}/images/sofa-og-logo.png">
        <meta property="og:local" content="en_US">
        <meta property="og:publisher" content="http://www.facebook.com/sofaSDK">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <a href="{{site.baseurl}}"><img class="logo" src="{{site.baseurl}}/images/sofa-og-logo.png"></a>
            <h1 class="title"><a href="/{{site.baseurl}}">Sofa.io Blog</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
              <a href="http://sofa.io"><i class="fa fa-home"></i> sofa.io</a>
              <a href="http://github.com/sofa"><i class="fa fa-github"></i> /sofa</a>
              <a href="http://twitter.com/sofa"><i class="fa fa-twitter"></i> @sofa_io</a>
              <a href=""><i class="fa fa-google-plus-square"></i> +sofa</a>
              </p>
            </div>
            <!-- <div class="contact"> -->
            <!--   <p>The latest goings-on with the sofa project and in the community. We'll update the blog to announce major releases and showcase cool stuff being built with sofa.</p> -->
            <!-- </div> -->
          </div>
        </div>

    </body>
</html>
